body{
    height: 100vh;
    display: grid;
    grid-template: "header header" auto
    "aside main" auto;
  

  
}



header {
    grid-area: header;
    position: sticky;
    height: 70px;
    
}
.barraSuperior{
    background-color: #7FB77E;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    position: sticky;
}

.divImagemPerfil{
    display: flex ;
    justify-content: center;
    
}
.imagemPerfil{
    border: solid 1px;
    border-radius: 10px;
    height: 75%;
    width: 75%;
    margin-top: 10px;
    align-self: center;
}


.nav{
    grid-area: aside;
    height: 100%;

    width: 35vh;
    border-right: solid 1px;
  
}

.navSmall{
    grid-area: aside;
    height: 100%;

    width: 10vh;
    border-right: solid 1px;
}

main{
    grid-area: main;
    overflow-y: scroll;
   
}
